old/=1.1.0
old/transformers
.env
old/.env
.venv
old/bert_ft_opt
old/modelo_final
old/modelo_final_metad
old/modelo_final_bueno
old/all_df.pkl
old/X_test.pkl
old/X_train.pkl
old/y_test.pkl
old/y_train.pkl
trolling/resultados_deberta
trolling/resultados_fold_0
trolling/resultados_fold_1
trolling/resultados_fold_2
trolling/resultados_fold_3
trolling/resultados_fold_4
resultados_deberta
resultados_fold_0
resultados_fold_1
resultados_fold_2
resultados_fold_3
resultados_fold_4
rb_db.pkl